* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0 2rem;
  margin: 2rem auto;
}
.container {
  background-color: rgb(197, 197, 197);
  width: 30rem;
  aspect-ratio: 1;
  line-height: 0;
  margin: 0 auto;
}
